@charset "utf-8";
@import 'ress';

.index {
  @media (prefers-color-scheme: light) {
    --theme-background-color: #fff;
    --theme-border-color: #000;
    --theme-color: #000;
    --theme-focus-color: #9cf;
    --theme-link-color: #36f;
  }

  @media (prefers-color-scheme: dark) {
    --theme-background-color: #111;
    --theme-border-color: #eee;
    --theme-color: #eee;
    --theme-focus-color: #6ff;
    --theme-link-color: #3cf;
  }

  background-color: var(--theme-background-color);
  border-color: var(--theme-border-color);
  color: var(--theme-color);
  font-family: -apple-system, BlinkMacSystemFont, 'ヒラギノ角ゴ ProN',
    'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ Pro', 'Hiragino Kaku Gothic Pro',
    'メイリオ', Meiryo, sans-serif;
  margin: 0 auto;
  padding-left: 2rem;
  width: 100%;

  @media only screen and (min-width: 800px) {
    width: 800px;
  }

  & a:link,
  & a:visited {
    color: var(--theme-link-color);
    text-decoration: none;
  }

  & a:focus {
    box-shadow: 0 0 0 3px var(--theme-focus-color);
    border-radius: 1px;
    outline: none;
    transition: box-shadow 0.2s ease;

    @media (prefers-reduced-motion: reduce) {
      transition: none;
    }
  }

  & .title {
    margin-top: 2rem;
    margin-bottom: 4rem;

    & .title__heading {
      font-family: 'Open Sans', sans-serif;
    }
  }

  & .main {
    display: block;

    & .section {
      margin-top: 2rem;

      & .section__heading {
        border-bottom: 1px solid;
        font-weight: normal;
      }
    }

    & .section:first-child {
      margin-top: 0;
    }

    & .about {
      & .about__defs {
        margin-left: 2rem;
        margin-top: 1rem;
      }

      & .about__term {
        margin-top: 1rem;
      }

      & .about__term:first-child {
        margin-top: 0;
      }

      & .about__desc {
        margin-left: 2rem;
      }

      & .about__icon {
        width: 72px;
      }
    }

    & .blog {
      & .blog__links {
        margin-left: 4rem;
        margin-top: 1rem;
      }

      & .blog__item {
        list-style-type: disc;
        margin-bottom: 0.8rem;
      }
    }

    & .social {
      & .social__links {
        margin-left: 2rem;
        margin-top: 1rem;

        & .social__service {
          margin-top: 1rem;
        }

        & .social__service:first-child {
          margin-top: 0;
        }

        & .social__content {
          margin-left: 2rem;
        }
      }
    }
  }

  & .copyright {
    margin-bottom: 2rem;
    margin-top: 4rem;

    & .copyright__text {
      font-size: 80%;
      text-align: center;
    }
  }
}
