<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no,address=no,email=no">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{{ .Site.Title }}</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poiret+One&text={{ .Site.Title }}">
    <link rel="stylesheet" href="index.css">
    <link rel="alternate" type="application/xml+atom" title="{{ .Site.Title }}" href="index.xml">
  </head>
  <body class="index">
    <header class="title">
      <h1 class="title__heading">{{ .Site.Title }}</h1>
    </header>
    <main role="main">
      {{ .Content }}
    </main>
    <footer class="copyright">
      <small class="copyright__text">
        <a class="copyright__link" href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a> &copy; 2019 sasa+1
      </small>
    </footer>
  </body>
</html>
